@using System.Text.Json
@using insideAirbnb.Shared;
@inject IJSRuntime _jsRuntime
@inject IHttpClientFactory _clientFactory
@inject IConfiguration _configuration

<div class="filters shadow">
    <h2>Filter</h2>
    <form class="container">
        <div class="form-row">
            <div class="form-group col-md-12">
                <label for="neighbourhood-select">Neighbourhood</label>
                <select id="neighbourhood-select" class="custom-select form-control" @bind="Parameters.Neighbourhood">
                    <option value="" selected>All Neighbourhoods</option>
                    @if (NeighbourhoodsList != null)
                    {
                        @foreach (var neighbourhood in NeighbourhoodsList)
                        {
                            <option value="@neighbourhood.Neighbourhood">@neighbourhood.Neighbourhood</option>
                        }
                    }
                </select>
            </div>
        </div>
        <div class="form-row row">
            <div class="form-group col-md-6">
                <label for="price-from-input">Lowest Price</label>
                <input id="price-from-input" class="form-control" placeholder="1" @bind="Parameters.PriceFrom" />
            </div>
            <div class="form-group col-md-6">
                <label for="price-to-input">Highest Price</label>
                <input id="price-to-input" class="form-control" placeholder="1000" @bind="Parameters.PriceTo" />
            </div>
        </div>
        <div class="form-row row">
            <div class="form-group col-md-6">
                <label for="review-from-input">Lowest amount of Reviews</label>
                <input id="review-from-input" class="form-control" placeholder="1" @bind="Parameters.ReviewsFrom" />
            </div>
            <div class="form-group col-md-6">
                <label for="review-to-input">Highest amount of Reviews</label>
                <input id="review-to-input" class="form-control" placeholder="100" @bind="Parameters.ReviewsTo" />
            </div>
        </div>
        <button
            type="submit"
            class="btn btn-primary col-md-3 filter-button"
            @onclick="async () => await ListingsFilter(Parameters)"
            @onclick:preventDefault>
            Filter
        </button>
    </form>
</div>

@code {
    [Parameter]
    public FilterParameters Parameters { get; set; } = new();
    private HttpClient Client { get; set; }
    private List<Neighbourhoods> NeighbourhoodsList { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Client = _clientFactory.CreateClient("Api");
        NeighbourhoodsList = await Client.GetFromJsonAsync<List<Neighbourhoods>>("/neighbourhoods");
    }

    private async Task ListingsFilter(FilterParameters parameters)
    {
        await _jsRuntime.InvokeVoidAsync("mapbox.updateUrl", $"https://localhost:7119/listings/geojson/filter{CreateParameterString(parameters)}");
    }

    private string CreateParameterString(FilterParameters filters) {
        string query = "";

        if (!string.IsNullOrEmpty(filters.Neighbourhood)) {
            query += $"?neighbourhood={filters.Neighbourhood}";
        } else {
            query += $"?neighbourhood=";
        }

        if (filters.PriceFrom.HasValue && filters.PriceTo.HasValue) query += $"&priceFrom={filters.PriceFrom}&priceTo={filters.PriceTo}";
        if (filters.ReviewsFrom.HasValue && filters.ReviewsTo.HasValue) query += $"&reviewsFrom={filters.ReviewsFrom}&reviewsTo={filters.ReviewsTo}";

        return query;
    }
}
