@using System.Text.Json
@using insideAirbnb.Shared;
@inject IJSRuntime _jsRuntime
@inject IHttpClientFactory _clientFactory
@inject IConfiguration _configuration

<div class="loginDisplay">
    <LoginDisplay />
</div>

<div id='mapBox'></div>
<Filter></Filter>

@code
{
    [Parameter]
    public FilterParameters Parameters { get; set; } = new();
    private DotNetObjectReference<Map> _reference;
    private HttpClient Client { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Client = _clientFactory.CreateClient("Api");
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);

        if(firstRender)
        {
            _reference = DotNetObjectReference.Create(this);
            await _jsRuntime.InvokeVoidAsync("mapbox.init", _reference, "https://localhost:7119/listings/geojson", "https://localhost:7119/neighbourhoods/geojson");
        }
    }

}