.sidebar {
    position: absolute;
    right: 0;
    top: 0;
    width: 550px;
    height: 100vh;
    background: white;
    z-index: 100;
    padding: 6px;
    overflow-y: scroll;
}

.sidebar-host {
    margin-top: 12px;
    text-decoration: none;
    color: #000;
    display: flex;
    width: 100%;
}

.host {
    font-weight: bold;
}

.about {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    line-clamp: 4;
    -webkit-box-orient: vertical;
    padding-right: 12px;
}

.sidebar-host > .hostname {
    align-self: center;
    width: 75%;
}

.sidebar-host > .image {
    width: 25%;
    height: auto;
}

.price {
    margin-top: 12px;
    margin-bottom: 16px;
    font-size: 32px;
}