@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div id='map' style='width: 400px; height: 300px;'></div>
</div>

@section Scripts {
    <script src='https://api.mapbox.com/mapbox-gl-js/v2.8.1/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.8.1/mapbox-gl.css' rel='stylesheet' />
    <script src="~/js/map.js" asp-append-version="true"></script>
}